# Dependencies
node_modules/
!node_modules/three/examples/jsm/controls/ArcballControls.js

# Build outputs
dist/

# Backup files
*.backup

# OS files
.DS_Store
Thumbs.db

# IDE files

.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Texture Pipeline Ignore
scripts/texture-pipeline/*.tif
scripts/texture-pipeline/raw_tiles/
scripts/texture-pipeline/packed_tiles/