# Dependencies
node_modules/
__pycache__/
!node_modules/three/examples/jsm/controls/ArcballControls.js

# Build outputs
dist/

# Backup files
*.backup

# OS files
.DS_Store
Thumbs.db

# IDE files

.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Texture Pipeline Ignore
scripts/texture-pipeline/*
!scripts/texture-pipeline/*.py
!scripts/texture-pipeline/*.html
!scripts/texture-pipeline/*.json
!scripts/texture-pipeline/*.txt
!scripts/texture-pipeline/*.bat
!scripts/texture-pipeline/tiler/
!scripts/texture-pipeline/tiles_out/*.json